.bidableHotel-container {
    margin-top: 100px;
}

.bidableHotel-title>h1 {
    font-size: 25px;
    font-weight: bold;
}

.bidableHotel-content {
    margin-top: 30px;
}
.bidableHotel-box {
    gap: 5px;
    /* flex: 0 0 25%; */
}
.hotel-img {
    width: 300px;
    border-radius: 10px;
}
.bidableHotel-box>h3 {
    font-size: 20px;
    font-weight: bold;
}
.bidableHotel-box>p:nth-of-type(2) {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    text-align: center;
}
.bidableHotel-box>p:nth-of-type(3), .bidableHotel-box>p:nth-of-type(4) {
    font-weight: bold;
}
.bidableHotel-box>p:nth-of-type(4) {
    color: #D83131;
}