.recLocation-container {
    width: 100%;
}

.recLocation-title>h1 {
    font-size: 25px;
    font-weight: bold;
}

.recLocation-content {
    margin-top: 30px;
    display: grid;
    flex: none;
    gap: 50px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(5,minmax(40px,1fr));
    height: auto;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;
}
.recLocation-content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;

    
    align-content: flex-start;
    align-self: center;
    grid-column: auto;
    width: 100%;
}
.recLocation-content>div>img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
}


@media screen and (max-width: 500px) {
    .recLocation-content {
        grid-template-columns: repeat(1,minmax(40px,1fr));
    }
}