.mapmodal-container {
  padding: 50px;
  gap: 50px;
  border-radius: 20px;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #ffffff;
  border: 2px solid #bfbfbf;
}
.mapmodal-close {
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.filter-category > ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-category > ul > li > p {
  cursor: pointer;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
  cursor: pointer;
}

.selected .circle {
  background-color: #4a86ff;
  border: none;
}

.service-btn {
  padding: 5px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
.service-selected {
  background-color: #ece5e5;
  padding: 5px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
