.mypage-container {
    padding: 100px 200px;
    gap: 50px;
}

.mypage-container>div>nav {
    gap: 50px;
    /* border: 1px solid lightgray; */
    /* border-radius: 10px; */
    /* padding: 30px; */
    width: 200px;
    font-weight: bold;
}

.link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
.link-active {
    color: #0c69ff;
}

.right-arrow-icon {
    fill: gray;
}


.profile-img {
    width: 150px;
}
.profile-img>img {
    border-radius: 50%;
}
.camera-icon {
    fill: gray;
    right: 0;
    bottom: 10px;
    size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
}