.myreservation-container {
    flex-grow: 1;
    gap: 50px;
}
.myreservation-container>h1 {
    font-size: 30px;
    font-weight: bold;
}

.myreservation-box {
    gap: 50px;
}

.myreservation-item {
    background-color: #F8F8F8;
    padding: 30px;
    border-radius: 10px;
}
.myreservation-item>div {
    gap: 30px;
    flex-grow: 1;
}
.myreservation-item>div>img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.myreservation-item>div>div {
    gap: 50px;
}

.myres-detail-btn {
    color: #5389ff;
    font-weight: bold;
    align-self: flex-end;
}