.mysetting-container {
    flex-grow: 1;
    gap: 50px;
}

.mysetting-container>div:nth-of-type(1) {
    gap: 10px;
}
.mysetting-container>div:nth-of-type(1)>h1 {
    font-size: 30px;
    font-weight: bold;
}
.mysetting-container>div:nth-of-type(1)>p {
    color: gray;
}

.mysetting-box {
    gap: 100px;
}

.mysetting-checkbox {
    gap: 20px;
    font-size: 20px;
}

.mysettig-save-btn {
    width: 100px;
    align-self: flex-end;
    padding: 10px;
    background-color: #5389ff;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}