header {
    padding: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.logo {
    width: 120px;
}

.header-name {
    padding: 0 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
    gap: 4px;
}
.header-name:hover {
    background-color: #F8F8F8;
}