footer {
    padding: 50px 100px;
    background-color: #f6fbff;
    gap: 20px;
}

.footer-logo {
    width: 150px;
}

.service-box>h3, .devNote-box>h3, .policy-box>h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.inquiry-box{
    gap: 10px;
}
.tel-btn, .talk-btn {
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}
.tel-btn {
    background-color: white;
    border: 1px solid lightgray;
}
.talk-btn {
    background-color: #ffe100;
    border: 1px solid rgb(156, 145, 137);
}

.copy {
    color: #094793;
}
.insta-icon {
    width: 35px;
}
.git-icon {
    font-size: 30px;
}


@media screen and (max-width: 500px) {
    footer {
        padding: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .footer-nav {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .inquiry-box {
        width: 100%;
    }
    .inquiry-box>button {
        width: 100%;
    }

    .footer-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}