.dateSelect-btn {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
}

.date-range {
    margin-top: 10px;
}