.review-container {
  padding: 50px 200px 100px 200px;
  gap: 50px;
}
.review-title > h1 {
  font-size: 30px;
  font-weight: bold;
}
.review-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.review-box > div {
  gap: 50px;
}

.review-user {
  width: 300px;
}

.review-preview {
  position: relative;
}
.prev-left-btn,
.prev-right-btn {
  position: absolute;
}
.prev-left-btn {
  left: -20px;
  bottom: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  transform: translateY(50%);
  cursor: pointer;
  box-shadow: 0 5px 8px -4px gray;
  width: 40px;
  height: 40px;
}
.prev-right-btn {
  right: -20px;
  bottom: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  transform: translateY(50%);
  cursor: pointer;
  box-shadow: 0 5px 8px -4px gray;
  width: 40px;
  height: 40px;
}
.review-preview > div {
  display: grid;
  flex: none;
  gap: 20px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(4, minmax(40px, 1fr));
  height: auto;
  justify-content: center;
  padding: 0;
}
.review-preview > div > img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
  align-content: flex-start;
  align-items: flex-start;
  align-self: center;
  grid-column: auto;
}

.review-comment > h3 {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1300px) {
  .review-container {
    padding: 50px 100px 100px 100px;
  }
}
