.accountform-container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accountform {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-tap {
    width: 100%;
    margin-top: 50px;
    gap: 20px;
}

.tap-btn {
    color: lightgray;
}
.tab-selected-btn {
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    padding: 5px 20px;
    border: 2px solid #87CDFF;
    border-bottom: none;
    background-color: white;
}


@media screen and (max-width: 1000px) {
    .accountform {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .accountform-container {
        padding: 100px 50px;
    }

    .accountform {
        border: none;
    }

    .tab-selected-btn {
        border: none;
        background-color: #ebf7ff;
    }
}