.register-container {
  width: 100%;
  gap: 30px;
  border-radius: 0;
  border: 2px solid #87cdff;
  border-radius: 10px;
  padding: 30px;
}

.register-form {
  width: 100%;
  gap: 20px;
}

.name-box,
.email-box,
.pw-box,
.pwCheck-box {
  gap: 10px;
}
.name-box > input,
.pw-box > input,
.pwCheck-box > input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
}
.name-box > input:focus,
.pw-box > input:focus,
.pwCheck-box > input:focus {
  outline: none;
}

.email-box > div {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0 10px;
}

.email-box > div > input {
  border: 1px solid rgb(255, 255, 255, 0.5);
  outline: none;
  flex-grow: 1;
  z-index: 1;
}

.email-send,
.email-validation {
  background-color: #87cdff;
  border-radius: 10px;
  padding: 3px;
  margin: 5px 0;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}

.detail-terms {
  margin-top: -20px;
}

.register-btn {
  background-color: #87cdff;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.disabled {
  background-color: #d0d3d5;
}

@media screen and (max-width: 500px) {
  .register-container {
    padding: 20px;
  }
}
